body {
  background-color: teal;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  /*padding-top: 20px;*/
}

#container {
  display: inline-block;
  width: 300px;
  /*margin: 10px;*/
}

img {
  display: inline-block;
  width: 300px;
  border-radius: 3px;
}

button {
  background-color: hotpink;
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: .2em;
  padding: 10px 30px;
  border: none;
  border-radius:10px;
  color: white;
}

button:focus {
  outline: none;
}
